* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  
}

.header {
  background-image: url("/images/bg-hero-desktop.svg"),
    linear-gradient(hsl(193, 100%, 96%), hsl(193, 100%, 96%));
  height: 600px;
  width: 100%;
}

.container-header {
  display: flex;
  justify-content: space-between;
  height: 80px;
  line-height: 40px;
  margin: 0 70px;
  max-width: 1400px;
  padding: 30px 0;
  margin: 0 auto;
}
.logo {
  padding: 0 -50px;
}

.logo-footer {
  color: white;
}

.boton-try {
  border-style: none;
  border-radius: 30px;
  height: 45px;
  width: 230px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: hsl(192, 100%, 9%);
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  cursor: pointer;
  padding: 0 -50px;
}

.container-hero {
  font-family: "Open Sans", sans-serif;
  margin: 20px 10px auto;
  display: flex;
  justify-content: center;
  align-content: center;
}

.container-hero-info {
  padding-right: 30px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 32%;
  justify-content: center;
}

.container-hero-info h1 {
  font-size: 40px;
  color: hsl(192, 100%, 9%);
  margin-bottom: 30px;
  font-weight: 700;
}
.container-hero-info p {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: hsl(192, 100%, 9%);
  margin-bottom: 30px;
}
.boton-get {
  border-style: none;
  border-radius: 30px;
  height: 45px;
  width: 245px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: white;
  cursor: pointer;
  background-color: hsl(322, 100%, 66%);
  box-shadow: 1px 1px 1px 1px hsl(322, 100%, 66%);
}

.header-img {
  width: 650px;
  height: 458px;
}
.card {
  height: 500px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 200px;
  border-radius: 8px;
}

.container-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.container-card {
  padding-top: 100px;
  padding-bottom: 0;
  font-family: "Poppins", sans-serif;
  background-color: white;
  z-index: -2;
}

.grow-info {
  padding: 200px 0;
  width: 37%;
  padding-left: 60px;
  margin: 0 0;
}

.grow-flowing {
  padding: 60px 0;
  width: 38%;
  padding-left: 100px;
}

.grow-users {
  padding: 60px 0;
  width: 37%;
}

.img-card {
  width: 30%;
  margin-left: 100px;
}

.card-short {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  background-color: white;
  height: 200px;
  width: 600px;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  position: relative;
  top: -120px;
  z-index: 3;
}

.card-short h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  padding-bottom: 20px;
  color: hsl(192, 100%, 9%);
}
.card-short a button {
  color: rgba(250, 250, 250, 0.8);
}
.card-short:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container-footer {
  font-family: "Poppins", sans-serif;
  text-align: center;
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: -2;
  background-color: hsl(192, 100%, 9%);
}
.footer-logo {
  background-image: url(./images/logo.svg);
  filter: invert(100%) sepia(11%) saturate(145%) hue-rotate(4deg)
    brightness(121%) contrast(105%);
  background-repeat: no-repeat;
  background-size: auto;
  width: 80%;
  height: 40px;
  margin-bottom: 20px;
  display: flex;
  margin-right: auto;
}

.footer-info {
  margin-bottom: 20px;
  width: 80%;
  margin-top: -50px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  color: rgba(255, 255, 255, 0.5);
}
.footer-info ul li {
  list-style-type: none;
}

.footer-cont {
  width: 20%;
  height: 200px;
  margin: 1%;
  margin-bottom: 70px;
}

.footer-info-contacto {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.footer-info-contacto li {
  display: flex;
  align-content: flex-start;
  margin-bottom: 30px;
  justify-content: flex-start;
}
.footer-info-contacto img {
  padding-right: 15px;
  height: 20px;
}

.footer-info-about {
  width: 40%;
  height: 100px;
  display: flex;
  justify-content: space-around;
  text-align: left;
}
.cont-li {
  margin-bottom: 20px;
  font-size: 20px;
}

.footer-iconos {
  display: flex;
  justify-content: center;
}
.footer-iconos li {
  height: 30px;
  width: 30px;
  margin-right: 10%;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}
.footer-iconos li a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}

.copyright {
  width: 70%;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 767px) {
 
  .container-header {
    width: 100%;
    height: 80px;
    padding: 50px 20px;
    align-items: center;
    line-height: 40px;
  }

  .logo img {
    padding-left: 10px;
    width: 160px;
    height: 30px;
    display: flex;
    align-items: center;
  }

  .boton-try {
    width: 100px;
  }

  .container-hero {
    padding-top: 20px;
    display: block;
    height: 100px;
  }
  .container-hero-info {
    display: block;
    height: 100px;
    font-size: 1px;
    text-align: center;
    width: 100%;
    margin-left: 18px;
  }

  .container-hero-info h1 {
    width: 100%;
    font-size: 20px;
  }
  .header-img {
    position: relative;
    top: 180px;
    padding: 10px;
    width: 240px;
    height: 200px;
    margin-left: 80px;
  }

  .card {
    height: 410px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin: 50px 20px;
    padding: 10px 0px;
    border-radius: 8px;
    display: block;
  }

  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }

  .container-card {
    padding-top: 50px;
    font-family: "Poppins", sans-serif;
    background-color: white;
    display: block;
  }

  .grow-info {
    text-align: center;
    font-size: 15px;
    width: 90%;
    padding: 15px 5px;
    padding-left: 50px;
    margin: 10px 0;
  }

  .grow-flowing {
    text-align: center;
    font-size: 15px;
    width: 90%;
    padding: 5px 5px;
    padding-left: 50px;
    margin: 0 0;
  }

  .grow-users {
    text-align: center;
    font-size: 15px;
    width: 90%;
    padding: 5px 5px;
    padding-left: 50px;
    margin: 0 0;
  }

  .img-card {
    width: 40%;
    height: 40%;
  }

  .card-short {
    width: 300px;
    text-align: center;
  }

  .container-footer {
    display: block;
    height: 870px;
    padding-left: 55px;
    width: 100%;
  }

  .footer-cont {
    width: 100%;
  }
  .footer-info {
    display: block;
  }
  .footer-info-contacto {
    margin-bottom: 90px;
  }

  .footer-logo {
    background-image: url(./images/logo.svg);
    filter: invert(100%) sepia(11%) saturate(145%) hue-rotate(4deg)
      brightness(121%) contrast(105%);
    background-repeat: no-repeat;
    background-size: auto;
    width: 100%;
    height: 40px;
    display: block;
    margin-right: auto;
  }
  .footer-iconos li {
    height: 30px;
    width: 30px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
  }
  .copyright {
    position: relative;
    top: -180px;
    margin: 0 30px;
    text-align: center;
  }
}
